@media  (max-width: 1199.98px){
    .container{
        width: 100%;
    }
    .nav{
        width: 100%;
        padding: 10px 100px;
        height: 100%;
    }
}

@media (max-width: 1136px) {
    .nav .bottom{
        margin-left: 132px;
    }
}

@media (max-width: 1115px) {
    .container{
        padding: 0 10px;
    }
}

@media (max-width: 1151px) {
    
    .about__content{
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        height: auto;
    }
    .about__img{
        text-align: center;max-width: 1110px;
    }
    
    .catalog{
        height: 100%;
    }
    
    .catalog__items{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .about__descr{
        margin-top: 20px;
    }
    

}

@media (max-width: 1071px) {
    .nav .bottom{
        margin-left: 88px;
    }
}    

@media (max-width: 1001px) {
    .nav .bottom{
        margin-left: 62px;
    }
}

@media (max-width: 951px) {
    .nav{
        padding: 15px 0;
    }
    .container .bottom{
        display: flex;
        margin-left: 0;
        gap: 30px;
        width: 70%;
    }
    .nav .container{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
}

@media (max-width: 786px) {
    .contacts__info{
        gap: 30px;
    }
}

@media (max-width: 851px) {
    nav.nav{
        height: 100%;
    }
    .container .bottom{
        flex-direction: column;
    }
}

@media (max-width: 571px) {
    .contacts__title{
        text-align: center;
    }
}

@media (max-width: 551px) {
    .intro-text span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}

@media (max-width: 471px) {
    .contacts{
        height: 100%;
    }
    .contacts__info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contacts__descr{
        text-align: center;
    }
}
